$padding-mui: 0;
$padding-default: 20px;
$padding-nested: 10px;

#root {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; // 전체 화면 기준

  section {
    &.headerWrap {
      height: 60px;
      padding: $padding-default;
      flex-shrink: 0; // 고정 크기 유지
    }

    &.contentWrap {
      flex: 1; // 가장 중요한 영역, 남은 공간을 차지함
      overflow: auto; // 내용이 많으면 스크롤
    }

    &.btmWrap {
      height: auto; // 내용에 따라 자동 조정
      flex-shrink: 0; // 고정 크기 유지
    }
  }
}

main {
  .MuiContainer-root {
    padding: 0;
    margin: 0;
    > .MuiBox-root {
      padding: $padding-default;
    }
  }
}

.form-input {
  margin-bottom: 20px;
  width: 100%;
  // MUI FormControl 스타일 재정의
  &.MuiFormControl-root {
    width: 100%;
    margin-bottom: 20px;
  }

  label {
    display: block;
    color: var(--font-label);
    font-size: var(--font14);
    &.Mui-focused {
      color: var(--color-2);
    }
  }

  .MuiBox-root {
    position: relative;
  }

  .MuiInput-root {
    width: 100%;
    &::before,
    &::after {
      display: none;
    }
    input {
      padding: 15px 0;
      border-bottom: 1px solid var(--form-border);
      transition: border-color 0.3s ease-in-out;

      &:focus {
        border-color: var(--primary) !important;
      }
    }
  }

  .masked {
    .MuiInput-root:has(input:focus) + .MuiInput-root input {
      border-bottom: 1px solid var(--primary) !important;
    }
  }

  /**select 버튼 스타일 재정의*/
  .MuiButton-root {
    padding: 15px 0 !important;
    height: 100%;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid var(--form-border);
    &:hover {
      border: 0;
      border-bottom: 1px solid var(--primary);
      border-color: var(--primary);
    }
  }

  .form-input-box {
    position: relative;
    align-items: center;
    gap: 10px;
    &.mony {
      input {
        padding-right: 30px;
      }
      p {
        position: absolute;
        top: 15px;
        right: 0;
      }
    }
  }
}

//select 팝업 스타일
.MuiDialog-root .MuiDialog-paper {
  max-width: 100%;
  .select-popup-header {
    h6 {
      color: var(--color-2);
      font-size: var(--font18);
      font-weight: var(--font-w-m);
      text-align: left;
    }
  }
}
